*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.full-container{
    width: 100%;
}
.container{
    max-width: 1300px;
    margin: 0px auto;
}
.flex{
    display: flex;
    align-items: center;
}
.active{
    color: #f35525;
}
.mb-80{
    margin-bottom: 80px;
}

/* header start */
.menu-toggle{
    display: none;
}
a{
    text-decoration: none;
}
.border-b{
    border-bottom: 1px solid #eee;
}
.top-header{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    gap: 24%;
}
.top-left-box{
    color: #7a7a7a; 
    padding: 0px 25px;
  border-right: 1px solid #eee;
  gap: 12px;
  font-size: 0.90rem;
}
.top-left-box i{
    font-size: 1.2rem;
   color: #f35525;
}

.top-left-box:last-child{
    border: none;
}
.feature-content-bottom p:last-child{
    border: none;
}
.top-social i{
    background-color:#cecccc;
  padding: 8px;
  border-radius: 20px;
  color: white;
  transition: all 0.3s ease-in;
  margin-right: 6px;

}
.top-social i:hover{
    background-color: #f35525;
}
.main-header{
    justify-content: space-around;
    gap: 5%;
    padding: 24px 0px;
   
}
.nav.scrolled{
    background-color: #fff;
}
.nav{
    position: sticky;
    top: 0px;
}
.logo h1{
    text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  color: black;
  letter-spacing: 2px;
}
nav ul li{
    display: inline;
    list-style: none;
    padding-right: 50px;
}
nav ul li a{
  color: #1e1e1e;
  transition: all 0.2s ease-in;
}
nav ul li a:hover{
  color: #f35525;
}
.visit{
  color: white;
  background-color: #1e1e1e;
  border-radius: 30px;
  font-size: 0.85rem;
}
.visit i{
    background-color: #f35525;
  padding:14px;
  border-radius: 20px;
  margin-right: 12px;
}
.visit p{
  padding-right:25px;
  transition: all 0.2s ease-in;
}
.visit p:hover{
    color: #f35525;
}
/* header end */

/* hero start */
.slider{
    width: 100%;
}
.swiper-wrapper{
    position: relative;
    line-height: 5;
}
.swiper-slide img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.hero-text{
    position: absolute;
    top: 140px;
    left: 20%;
    width: 30%;
}
.hero-text h2{
    font-size: 4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 70px;
}
.hero-text p{
    background-color: white;
    display: inline;
    padding: 6px 12px;
}
.hero-text span{
    color: #f35525;
}
/* hero end */

/* features start */
.features-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
}
.features-img{
    background: url(../img/featured.jpg) no-repeat center;
    width: 22%;
    height: 400px;
    background-size: cover;
}
.feature-content{
    width: 35%;
}
.head-span{
    color: #ee626b;
    font-weight: 600;
    text-transform: uppercase;
}
.feature-content h2{
    color: #1e1e1e;
    font-size: 2.8rem;
  font-weight: 900;
  line-height: 54px;
  padding: 20px 60px 60px 0px;
}
.feature-details{
    width: 22%;
    box-shadow: 0px 0px 21px 0px #d5cbcb;
  border-radius: 10px;
  height: 520px;
}
.feature-content-bottom button{
    font-size: 1.1rem;
  padding: 10px 20px;
  outline: none;
  border: none;
  width: 100%;
  background-color: #fafafa;
  text-align: start;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}
.main{
    background-color: #fafafa;
    padding: 20px;
    
}
.feature-content-bottom button:last-child{
  border-bottom: none;
}

.feature-left-img{
    position: absolute;
    background-color: #f35525;
    padding: 22px 18px 10px 26px;
  border-radius: 60px;
  bottom: 80px;
  left: 6%;
}
.feature-left-img img{
    background: no-repeat center;
    background-size: contain;
}
.info-img{
    background:no-repeat center;
    width: 20%;
    height: 70px;
}
.info-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 30px 0px;
    border-bottom: 1px solid #eee;
}
.info-box:last-child {
    border:none;
}
.info-text{
    color: #1e1e1e;
}
.info-text h4{
    font-size: 1.3rem;
}
.info-text p{
    font-size: 0.90rem;
    color: #aaa;
}

.accordian .Qus{
    display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 16px;
  border-bottom: 1px solid #eaeaea;
  color: #333;
 
  
}
.accordian .Qus:last-child{
    border-bottom: none;
}

.Qus h3{
    font-weight: 500;
    
}
.Qus.active{
    color:#f35525;
}
.Icon{
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    transition: transform 0.4s
    
}
.Icon.active{
    transform: rotate(180deg);
    color:#f35525;
}
.accordian{
    background-color: #fafafa;
    border-radius: 10px;
}
.Ans{
    color: #333;
   max-height: 0px;
   overflow: hidden;
    transition: max-height 1s ;
}
.Ans.active{
   max-height: fit-content;
}
.Ans h4{
    padding:10px 16px;
    font-weight: 500;
}
/* features end */

/* Video Start */
.relative{
    position: relative;
}
.video-bg{
    background: url(../img/video-bg.jpg) no-repeat center; 
    background-size: cover;
    width: 100%;
    height: 600px;
}
.video-title{
   text-align: center;
   width: 28%;
   position: absolute;
  top: 100px;
  left: 35%;
}
.video-title h2, .contact-title h2{
    color: white;
    font-size: 2.6rem;
    line-height: 55px;
    padding-top: 12px;
}
.video-bottom-img{
    background: url(../img/video-frame.jpg) no-repeat center; 
    background-size: cover;
    width: 70%;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    top: 360px;
    left: 15%;
}
.video-bottom-img i{
    color: #f35525;
  background: white;
  border-radius: 60px;
  font-size: 1.2rem;
  position: absolute;
  top: 200px;
  left: 46%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  outline: 15px solid rgba(254, 85, 37, 0.5);
}
.timer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 250px;
}
.timer{
    display: flex;
    align-items: center;
    width: 22%;
    background-color: #ffeee9;
    justify-content: center;
  gap: 26px;
  padding: 20px 0px;
  border-radius: 12px;
  font-weight: 900;
  position: relative;
  color: #1e1e1e;

}
.timer::after{
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background-color:#f35525; 
    position: absolute;
    bottom: 80px;
    left: 90%;

}
.timer h2{
    color:#f35525; 
    font-size: 2.6rem;
    font-weight: 600;
}
/* Video end */

/* Deal Start */
.deal-title{
    width: 30%;
    margin-left: 60px;
}
.deal-catagory{
    width: 40%;
    
}
.deal-option{
    display: flex;
    align-items: end;
    justify-content:space-between;
    padding-top: 100px;
   
}
.tab-container{
    overflow: hidden;
    position: relative;
    height: 900px;
}
.deal-title h2, .prop-title h2 {
    color: #1e1e1e;
  font-size: 2.6rem;
  font-weight: 900;
  line-height: 54px;
  margin-top: 14px;
}
.deal-catagory ul button{
    font-size: 1rem;
  color: white;
  background: #1e1e1e;
  padding: 12px 26px;
  border-radius: 5px;
  margin-right: 16px;
  border: none;
  cursor: pointer;
}

#btn1{
    background-color:#f35525;  
    padding: 12px 26px;
    border-radius: 5px;
}
.about-container{
    display: flex;
    justify-content: center;
    gap: 4%;
    position: absolute;
    transform: translateX(100%);
    transition: all 0.6s ease-in-out 0.2s;
   
}
.info-table{
    width: 20%;
}
.info-table ul{
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
}
.info-table ul li{
    list-style: none;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 24px 0px;
  font-size: 0.90rem;

}
.info-table ul li:last-child{
    border: none;
}
.info-table ul li span{
    color: #1e1e1e;
  font-size: 1.4rem;
  font-weight: 700;
  float: right;

}
.about-property{
    width: 20%;
    padding-bottom: 80px;
}
.about-property p{
    line-height: 28px;
    font-size: 0.90rem;
}
.about-property h4{
    margin-bottom: 30px;
}
.icon-btn{
  width: 75%;
  margin-top: 20px
}
.flat-img{
    width: 40%;
    background: no-repeat center;
    background-size: contain;
    height: 350px;
    width: 40%;
}
#content1{
   transform: translateX(0px);
}

/* Deal End */

/* Property Start */

.prop-title{
    text-align: center;
}
.prop-title h2{
  width: 28%;
  margin: 14px auto;
}
.prop-box{
    width: 28%;
    background-color: #fafafa;
    padding: 30px;
    border-radius: 10px;

}
.prop-box img{
    border-radius: 10px;
}
.prop-box h6{
    color: #f35525;
    float: right;
    margin-top: 25px;
    font-size: 1.3rem;
    font-weight: 600;
    
}
.prop-box h4 a{
    color: #1e1e1e;
    font-size: 1.2rem;
    line-height: 3;
    
}
.prop-span{
    background-color: #fbd9cf;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1rem;
  color: #1e1e1e;
  padding: 5px 12px;
  display: inline-block;
  margin-top: 25px;
}
.prop-details{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px 0px;
}
.prop-list li{
    display: inline-block;;
  color: #4a4a4a;
  margin-right: 20px;
  font-size: 1rem;
  margin-bottom: 2px;
}
.prop-list{
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
.prop-list li span{
    color: #1e1e1e;
    font-weight: 600;
}
.prop-btn{
    text-align: center;
}
.prop-btn button{
    background-color: #1e1e1e;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 10px 30px;
  border-radius: 25px;
  transition: all .3s;
  cursor: pointer;
}
.prop-btn button:hover{
    background-color: #f35525;
  color: #fff;
}
/* Property End */

 /* Contact Start  */
 .contact-banner{
    background: url(../img/contact-bg.jpg) no-repeat center; 
    background-size: cover;
    width: 100%;
    height: 500px;
 }
 .contact-title{
    width: 28%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
 }
 .contact-bottom{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: -200px;
 }
 .map iframe{
    border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin-bottom: 60px;
 }
 .map{
    width: 50%;
 }
 .contact-form{

     width: 32%;
 }
 .form{
    border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
 }
 .form label p{
    font-size: 15px;
  color: #3a3a3a;
  margin-bottom: 15px;
 }
 .form label input, .form label textarea{
    width: 100%;
  height: 44px;
  border-radius: 22px;
  background-color: #f6f6f6;
  border: none;
  margin-bottom: 20px;
  font-size: 14px;
  padding: 0px 15px;
 }
 .form label textarea{
   height: auto;
   padding: 16px;
 }
 .form label input::placeholder, .form label textarea::placeholder{
    color: #585858;
 }
 .phone-mail{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .phone{
    width: 45%;
    display: flex;
    align-items: center;
    border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
  background-color: #fff;
 }
 .phone h6{
    font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin-left: 20px;
 }
 .phone span{
    font-size: 15px;
  color: #aaaaaa;
  font-weight: 400;
 }
 /* Contact End  */


 /* Footer Start  */
 footer{
    background-color: #1e1e1e;
 }
.footer-logo h1{
    color: #fff;
  text-transform: uppercase;
  font-size: 2.6rem;
  letter-spacing: 6px;
  font-weight: 900;
  transition: .4s;
}
.footer-container{
    text-align: center;
    padding: 80px 0px;
}
.footer-list{
    padding: 20px 0px 25px;
}
.footer-list a{
    color: #fff;
    margin-right: 14px;
    transition: .4s;
 
}
.footer-social i{
    font-size: 1.5rem;
    margin-right: 10px;
    transition: .4s;
    color:#fff;
    
}

.footer-social i:hover, .footer-logo h1:hover, .footer-list a:hover{
    color:#f35525; 
}
.copy-foot p{
    text-align: center;
    color: #fff;
    font-size: 1.1rem;
    padding: 20px 0px;
}
.copy-foot{
    background: #000;
}
 /* Footer End  */

/* Responsive */
@media screen and (max-width:1024px) {
    .hero-text{
        width: 50%;
    }
    .hero-text h2{
        font-size: 3rem;
    }
    .info-img , .features-img{
        width: 26%;
    }
    .feature-left-img{
        bottom: 125px;
    }
    .info-box{
        gap:20px;
    }
    .video-title{
        width: 34%;
    }
    .deal-catagory{
        width: 55%;
    }
    .info-table ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .info-table ul li span {
        font-size: 1.2rem;
        float: none;
    }
    .prop-box h6{
        float:none;
    }
    .prop-box h4 a{
        line-height: 0;
    }
    .prop-box h4{
        padding: 10px 0;
    }
    .phone{
        padding:30px 16px;
    }
    .phone h6{
        font-size: 16px;
    }
}

@media screen and (max-width:1023px) {
    .top-header{
       display: none;
    }
    .nav ul li{
        padding-right: 15px;
        font-size: .80rem;
    }
    .main-header{
        justify-content: space-evenly;
        gap: 0px;
    }
    .features-container{
        flex-direction: column;
        align-items: center;
        gap:50px;
    }
   
    .feature-left-img {
        bottom:62%;
        padding: 30px 24px 20px 34px;
    }
    .feature-content,
    .feature-details ,
    .deal-title, .about-property,
    .prop-title h2, .contact-title,
    .map, .contact-form{
        width: 90%;
        /* margin-top: 40px; */
    }
    .features-img{
        width: 80% !important;
        height: 650px;
    }
    .info-box{
        justify-content: start;
        margin-left: 30px;
    }
    .info-img{
        width: 10%;
    }
    .video-title{
        width: 80%;
        left: 10%;
    }
    .video-bottom-img {
        width: 90%;
        height: 350px;
        left: 6%;
    }
    .video-bottom-img i{
        top: 150px;
    }
    .timer-container{
        flex-direction: column;
        gap: 40px;
    }
    .timer{
        width: 35%;
    }
    .deal-title{
        margin: auto;
        text-align: center;
    }
    .deal-catagory{
     width: 90%;
       display: flex;
      justify-content: center;
      margin: 30px 0px;
    }
    .about-container , .deal-option,
    .contact-bottom{
        flex-direction: column;
        align-items: center;
    }
    .info-table {
        width: 90%;
        margin: auto;
    }
    .tab-container{
        height: 1600px;
    }
    .visit{
        width: 30%;
    }
    .visit p{
        padding-right: 10px;
    }
    .flat-img{
        width: 90%;
        background-size: cover;
        margin: 40px 0px;
    }
    .prop-box{
        width: 44%;
    }
    .phone-mail{
        flex-direction: column;
        gap: 20px;
    }
    .phone{
        width:100%;
    }
    .form{
        margin: 50px 0px 0px;
    }
}

@media screen and (max-width:767px){
    .hero-text{
        width: 70%;
    }
    .nav ul, .nav ul li{
        display: block;
    }
    .nav ul{
    position: absolute;
    top: 96px;
    background: #fff;
    width: 90%;
    text-align: center;
    display: none;
    }
    .slider{
        position: relative;
        z-index: -1;
    }
    .nav ul .none{
        display: none;
    }
    .nav ul li{
        padding: 15px 0px;
  border-top: 1px solid #cec9c9cc;
  font-size: .90rem;
    }
    .main-header{
        gap: 42%;
    }
    .menu-toggle{
        display: block;
    }
    .menu-toggle i{
        font-size: 1.5rem;
        cursor: pointer;
        transition: 0.3s;
        padding: 12px;
    }
     .menu-toggle i:hover{
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        
    }
    .menu-toggle #close{
        display: none;
    }
    .menu-toggle #close.active{
        display: block;
        color: #1e1e1e;
    }
    .menu-toggle #open.active{
        display: none;
    }
    .nav ul.active{
        display: block;
    }
    .hero-text p{
        padding: 6px 8px;
    }
    .swiper-slide img{
        height: 900px;
    }
    .features-img{
        height:500px;
        background-size: contain;
    }
    .feature-left-img{
        bottom:70%;
        left: 4%;
    }
    .info-img{
        width: 24%;
    }
    .video-title h2{
        font-size: 2.2rem;
    }
    .video-bottom-img{
        height: 150px;
    }
    .video-bottom-img i {
        top: 46px;
        left: 136px;
    }
    .timer{
        width: 70%;
    }
    .timer-container{
        margin-top: 100px;
    }
    .deal-catagory ul{
        text-align: center;
    }
    .deal-catagory ul button{
        margin-top: 10px;
    }
    .tab-container{
        height: 2000px;
    }
    .visit{
        width: 80%;
    }
    .prop-box{
        width: 90%;
    }
    .footer-list a{
        display: block;
        padding-bottom: 6px;
    }
    .copy-foot p{
        font-size: .75rem;
        padding: 20px 27px;
    }
}